MASTEK.INTERVIEW/.vs/
MASTEK.INTERVIEW/.vs/MASTEK.INTERVIEW/xs/UserPrefs.xml
MASTEK.INTERVIEW/MASTEK.INTERVIEW.UNITTEST-X/obj/
MASTEK.INTERVIEW/MASTEK.INTERVIEW.ENTITY/obj/
MASTEK.INTERVIEW/MASTEK.INTERVIEW.DAL/obj/
MASTEK.INTERVIEW/MASTEK.INTERVIEW.API/obj/
MASTEK.INTERVIEW/MASTEK.INTERVIEW.UNITTEST-X/bin/
MASTEK.INTERVIEW/.vs/MASTEK.INTERVIEW/
MASTEK.INTERVIEW/.vs/MASTEK.INTERVIEW/xs/


MASTEK.INTERVIEW/MASTEK.INTERVIEW.UNITTEST-X/bin/
MASTEK.INTERVIEW/MASTEK.INTERVIEW.ENTITY/bin/
MASTEK.INTERVIEW/MASTEK.INTERVIEW.DAL/bin/
MASTEK.INTERVIEW/MASTEK.INTERVIEW.API/bin/
MASTEK.INTERVIEW/MASTEK.INTERVIEW.UNITTEST-X/bin/
MASTEK.INTERVIEW/.vs/
