MASTEK.TEST/.vs/
MASTEK.TEST/.vs/MASTEK.TEST/xs/UserPrefs.xml
MASTEK.TEST/MASTEK.TEST.UNITTEST-X/obj/
MASTEK.TEST/MASTEK.TEST.ENTITY/obj/
MASTEK.TEST/MASTEK.TEST.DAL/obj/
MASTEK.TEST/MASTEK.TEST.API/obj/
MASTEK.TEST/MASTEK.TEST.UNITTEST-X/bin/
MASTEK.TEST/.vs/MASTEK.TEST/
MASTEK.TEST/.vs/MASTEK.TEST/xs/


MASTEK.TEST/MASTEK.TEST.UNITTEST-X/bin/
MASTEK.TEST/MASTEK.TEST.ENTITY/bin/
MASTEK.TEST/MASTEK.TEST.DAL/bin/
MASTEK.TEST/MASTEK.TEST.API/bin/
MASTEK.TEST/MASTEK.TEST.UNITTEST-X/bin/
MASTEK.TEST/.vs/
